* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    background-color: #fafafa;
    padding: 30px;
}

form {
    padding: 50px 10px 10px 10px;
}

.dog-images img {
    max-height: 200px;
    padding: 10px;
}

.breed-images img {
    max-height: 200px;
    padding: 10px;
}